@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#h1 {
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 800%;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  padding-right: 20%;
  padding-left: 20%;
  display: inline;
  }

  #h2 {
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    font-size: 300%;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
    }
    #h3 {
      color: darkgray;
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-size: 200%;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
      text-align: center;
      padding-right: 20%;
      padding-left: 20%;
      display: inline;
      }
      #h4 {
        color: black;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 200;
        font-size: 200%;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
        text-align: center;
        }

p {
  color: black;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: large;
  font-style: normal;
  padding-left: 30vw;
  padding-right: 30vw;
  text-align: justify;
}

ul {
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  padding-inline-start: 2%;
  padding-inline-end: 2%;
  font-size: 200%;
  font-style: normal;
  text-wrap:balance;
  text-decoration: none;
  text-transform: none;
  list-style-type: none;
  text-size-adjust: auto;
  
}  
#ul {
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  padding-inline-start: 2%;
  padding-inline-end: 2%;
  font-size: 300%;
  font-style: normal;
  text-wrap:balance;
  text-decoration: none;
  text-transform: none;
  list-style-type: none;
  text-size-adjust: auto;
  
}  

#img {
text-align: center;
width: 50%;
height: auto;
margin-right: auto;
margin-left: auto;
}

#imag {
    width: 50%;
    height: auto;
    text-align: center;
    margin-left: 25vw;
    margin-right: 20vw;
}

.element-1 {
  font-size: inherit;
  font-family: "Bebas Neue", sans-serif;
  color: black;
  
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  font-style: italic; 
  
}


a:visited {
  color: black;
  text-decoration: none;
  
}
  
.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-light {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-medium {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

  
